@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


body{
    margin: 0;
    background: #E5E5E5;
}

.flex{
    display: flex;
}

.content{
    margin: auto;
    padding: 10px;
    width: 70%;
}

a{
    text-decoration: none;
    color: var(--dkblue);
}


h6{
    font-family: 'Rubik', sans-serif;
    margin: 0;
    font-size: 14px;
}

p{
    background-color: transparent;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin: 0%;
}


@media  only screen and (max-width: 499px) {

    header{
        position:relative;
        width: 375px;
        height: 96px;
    }

    .logo{
    /* Top */
    position: absolute;
    left: 4.27%;
    right: 87.2%;
    top: 25%;
    bottom: 25%;
    }

    .index{
        margin-top: 198px;
        flex-direction: column;
        display: flex;
        align-items: center;
        padding: 24px;
        gap: 8px;
    }

    .content{
        margin: auto;
        padding: 10px;
        width: 90%;
        
    }

    .btnInicio1 {
        
       
        background-color: #0A3871;
        
        border-radius: 24px;
        width: 317px;
        height: 105px;
        margin: 5px;
        color: white;
        font-family: ''Rubik', sans-serif';
        font-size: 20px;
        cursor: pointer;
        border: none;
    }

    .btnInicio2{
        
        background-color: transparent;
        border-radius: 24px;
        width: 278px;
        height: 66px;
        margin: 5px;
        color:#0A3871;
        font-family: ''Rubik', sans-serif';
        font-size: 20px;
        cursor: pointer;
        border: 1px solid #0A3871;
        
    }

    span.line{
        width: 20px;
        height: 20px;
        margin: 5px;
        border-bottom: 3px solid #0A3871;
        color: #0A3871;
        font-family: 'Rubik', sans-serif;
        font-size: 20px;
    }

    span{
        width: auto;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        color: var(--dkblue);
        font-family: 'Rubik', sans-serif;
    }
    span.spaceline{
        width: 40px;
        height: 40px;
        margin: 5px;
        border-bottom: none;
    }
    .boxWords{
        text-align: center;
        margin: auto;
        padding-bottom: 20px;
        display: flex;
    }


    canvas{
        position:relative;
        margin-top: 136px;
    }

    #cvDraw {
        margin-top: 136px;
        width: 69%;
    }

    .btns-juego{
        display: flex;
        flex-direction: column;
    }

    .btn-reload{
        background-color: #0A3871;
        
        border-radius: 24px;
        width: 343px;
        height: 67px;
        margin: 5px;
        color: white;
        font-family: ''Rubik', sans-serif';
        font-size: 20px;
        cursor: pointer;
        border: none;
    }

    .btn-index{
        background-color: transparent;
        border-radius: 24px;
        width: 343px;
        height: 67px;
        margin: 5px;
        color:#0A3871;
        font-family: ''Rubik', sans-serif';
        font-size: 20px;
        cursor: pointer;
        border: 1px solid #0A3871;
    }

    .game{
        color: #0A3871;;
        background: E5E5E5;
        padding: 8px;
        display: none;
    }
    .msgGame{
        margin: auto;
        padding: 20px;
        text-align: center;
    }

    .teclado{
        max-width: 400px;
        width: auto;
        margin-top: 9px;
        text-align: center;
    }

    button.lett{
        background-color: #0A3871;
        padding: 5px;
        border-radius: 5px;
        width: 30px;
        height: 30px;
        margin: 3px;
        color: white;
        font-family: 'Rubik', sans-serif;
        font-size: 15px;
        font-weight: bold;
        cursor: pointer;
        border: none;
    }

    .datos{
        color: #0A3871;
        font-family: 'Rubik', sans-serif;
        background-color: transparent;
        padding: 8px;
        text-align: center;
        margin: 0 4px;
        font-size: 14px;
    }

    #toast-qr{
        visibility: hidden;
        text-align: center;
        z-index: 1;
        min-width: 120px;
        margin: auto;
        width: 93%;
        height: 93%;
        position: absolute;
        top: 20%;
        background-color: #0A3871;
        border: none;
        border-radius: 10px;
        padding: 20px;
    }

    #toast-qr.show{
        visibility: visible;
    }
    #toast-qr.hide{
        visibility: hidden;
    }

    input{
        border-radius: 10px;
        border: none;
        padding: 8px;
        text-align: center;
        background-color: var(--dkyellow);
        width: 80%;
        margin: 10px;
        font-size: 18px;
        font-family: 'Rubik', sans-serif;   
    }
    input:focus, input:active{
        border: none;
    }

   /*  .input-txt {
        
        color: #0A3871;
        font-size: 20px;
        border: none;
        outline: none;
        background: #E5E5E5;
    } */

    .btns-toast {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 600px;
    }

    .toastbtn{
        padding: 8px;
        font-size: 15px;
        margin: 5px;
        border-radius: 10px;
        border: none;
        color: white;
        font-family: 'Rubik', sans-serif;
        background-color: #0A3871;
        /* transition: all 0.5s; */
    }
    
    .block{
        display: block;
    }
    #reglas{
        color: #203239;
        font-family: 'Rubik', sans-serif;
        display: none;
    }
}
@media  only screen and (min-width: 500px) {}
