@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
/* :root{
    --light: #EEEDDE;
    --yellow: #E0DDAA;
    --dkblue: #203239;
    --lgblue: #2b444e;
    --dark: #141E27;
    --dkred: #5e0000;
    --dkgreen: #005e0d;
    --dkyellow: #c0be92;
} */

body{
    margin: 0;
    background: #E5E5E5;
}
@media  only screen and (max-width: 499px) {

    header{
        position:relative;
        width: 375px;
        height: 96px;
    }

    .logo{
    /* Top */
    position: absolute;
    left: 4.27%;
    right: 87.2%;
    top: 25%;
    bottom: 25%;
    }

    .index{
        margin-top: 198px;
        flex-direction: column;
        display: flex;
        align-items: center;
        padding: 24px;
        gap: 8px;
    }

    .content{
        margin: auto;
        padding: 10px;
        width: 90%;
        
    }

    .btnInicio1 {
        
       
        background-color: #0A3871;
        
        border-radius: 24px;
        width: 317px;
        height: 105px;
        margin: 5px;
        color: white;
        font-family: ''Rubik', sans-serif';
        font-size: 20px;
        cursor: pointer;
        border: none;
    }

    .btnInicio2{
        
        background-color: transparent;
        border-radius: 24px;
        width: 278px;
        height: 66px;
        margin: 5px;
        color:#0A3871;
        font-family: ''Rubik', sans-serif';
        font-size: 20px;
        cursor: pointer;
        border: 1px solid #0A3871;
        
    }

    span.line{
        width: 20px;
        height: 20px;
        margin: 5px;
        border-bottom: 3px solid #0A3871;
        color: #0A3871;
        font-family: 'Rubik', sans-serif;
        font-size: 20px;
    }


    canvas{
        position:relative;
        margin-top: 136px;
    }

    #cvDraw {
        margin-top: 136px;
        width: 69%;
    }

    .btns-juego{
        display: flex;
        flex-direction: column;
    }

    .btn-reload{
        background-color: #0A3871;
        
        border-radius: 24px;
        width: 343px;
        height: 67px;
        margin: 5px;
        color: white;
        font-family: ''Rubik', sans-serif';
        font-size: 20px;
        cursor: pointer;
        border: none;
    }

    .btn-index{
        background-color: transparent;
        border-radius: 24px;
        width: 343px;
        height: 67px;
        margin: 5px;
        color:#0A3871;
        font-family: ''Rubik', sans-serif';
        font-size: 20px;
        cursor: pointer;
        border: 1px solid #0A3871;
    }

    .game{
        color: #0A3871;;
        background: E5E5E5;
        padding: 8px;
        display: none;
    }
    .msgGame{
        margin: auto;
        padding: 20px;
        text-align: center;
    }

    .teclado{
        max-width: 400px;
        width: auto;
        margin-top: 9px;
        text-align: center;
    }

    button.lett{
        background-color: #0A3871;
        padding: 5px;
        border-radius: 5px;
        width: 30px;
        height: 30px;
        margin: 3px;
        color: white;
        font-family: 'Rubik', sans-serif;
        font-size: 15px;
        font-weight: bold;
        cursor: pointer;
        border: none;
    }

    .datos{
        color: #0A3871;
        font-family: 'Rubik', sans-serif;
        background-color: transparent;
        padding: 8px;
        text-align: center;
        margin: 0 4px;
        font-size: 14px;
    }

    #toast-qr{
        visibility: hidden;
        text-align: center;
        z-index: 1;
        min-width: 120px;
        margin: auto;
        width: 400px;
        height: 130px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #0A3871;;
        border: none;
        border-radius: 10px;
        padding: 20px;
    
        box-shadow: -15px 19px 35px -13px rgba(0,0,0,0.55);
        -webkit-box-shadow: -15px 19px 35px -13px rgba(0,0,0,0.55);
        -moz-box-shadow: -15px 19px 35px -13px rgba(0,0,0,0.55);
    }

    #toast-qr::placeholder {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 150%;
        /* identical to box height, or 48px */
        /* Dark blue/dark-blue-300 */
        color: darkblue;
        opacity: 111%;
    }
    #toast-qr.show{
        visibility: visible;
        -webkit-animation: fadein 0.5s;
        animation: fadein 0.5s;
    }
    #toast-qr.hide{
        visibility: hidden;
        -webkit-animation: fadeout 0.5s 2.5s;
        animation: fadeout 0.5s 2.5s;
    }
    .input-txt {
        
        color: #0A3871;
        font-size: 20px;
        border: none;
        outline: none;
        background: #E5E5E5;
    }
}
@media  only screen and (min-width: 500px) {

    .logo{

    }

    .content{
        margin: auto;
        padding: 10px;
        width: 70%;
    }

    .btnInicio{
        background-color: #0A3871;
        padding: 20px;
        border-radius: 10px;
        width: auto;
        margin: 5px;
        color: white;
        font-family: 'Rubik', sans-serif;
        font-size: 20px;
        cursor: pointer;
        border: none;
        transition: all .3s;  
    }
    span.line{
        width: 40px;
        height: 40px;
        margin: 5px;
        border-bottom: 3px solid var(--dkblue);
        color: #0A3871;
        font-family: 'Rubik', sans-serif;
        font-size: 30px;
    }
}

a{
    text-decoration: none;
    color: var(--dkblue);
}


h6{
    font-family: 'Rubik', sans-serif;
    margin: 0;
    font-size: 14px;
}

.content2{
    text-align: center;
}

.flex{
    display: flex;
}

span{
    width: auto;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: var(--dkblue);
    font-family: 'Rubik', sans-serif;
}
span.spaceline{
    width: 40px;
    height: 40px;
    margin: 5px;
    border-bottom: none;
}
.boxWords{
    text-align: center;
    margin: auto;
    padding-bottom: 20px;
    display: flex;
}
input{
    border-radius: 10px;
    border: none;
    padding: 8px;
    text-align: center;
    background-color: var(--dkyellow);
    width: 80%;
    margin: 10px;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;   
}
input:focus, input:active{
    border: none;
}
p{
    background-color: transparent;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin: 0%;
}
.block{
    display: block;
}
#reglas{
    color: #203239;
    font-family: 'Rubik', sans-serif;
    display: none;
}

#toast-qr.show{
    visibility: visible;
    -webkit-animation: fadein 0.5s;
    animation: fadein 0.5s;
}
#toast-qr.hide{
    visibility: hidden;
    -webkit-animation: fadeout 0.5s 2.5s;
    animation: fadeout 0.5s 2.5s;
}
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 35%; opacity: 1;}
}
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 35%; opacity: 1;}
}
@-webkit-keyframes fadeout {
    from {bottom: 35%; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}
@keyframes fadeout {
    from {bottom: 35%; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
.toastbtn{
    padding: 8px;
    background-color: var(--dkyellow);
    font-size: 15px;
    margin: 5px;
    border-radius: 10px;
    border: none;
    color: var(--dkblue);
    font-family: 'Rubik', sans-serif;
    transition: all 0.5s;

}


canvas{
        padding: 0;
        margin: auto;
        display: block;
    
}
